.cc1 {
	background : Black;
	color : #FF8040;
}
.cc2 {
	color: Red;
}

.cc3 {
	color : Green;
	font-weight : bold;
}
.cc4 {
	color: #727300;
}
.cc5 {
	color: Teal;
}
.cc6 {
	color: #FF0080;
}
.cc7 {
	color: #5E2F00;
}
.cc8 {
	background : #DFDFFF;
	color: Navy;
}
.cc9 {
	color: #FFB9B9;
}
.cc10 {
	font-weight : bold;
}
.cc11 {
	font-weight : bold;
	background : Red;
	color : #FFECEC;
}