APPLICATIONICON ICON "Icon_1.ico"

ICON-AIS ICON "Icon_2.ico"

ICON-BMP ICON "Icon_3.ico"

ICON-GIF ICON "Icon_4.ico"

ICON-IFF ICON "Icon_5.ico"

ICON-JPG ICON "Icon_6.ico"

ICON-PCD ICON "Icon_7.ico"

ICON-PCX ICON "Icon_8.ico"

ICON-PIC ICON "Icon_9.ico"

ICON-PNG ICON "Icon_10.ico"

ICON-PSD ICON "Icon_11.ico"

ICON-TGA ICON "Icon_12.ico"

ICON-TIF ICON "Icon_13.ico"

ICON-WMF ICON "Icon_14.ico"

101 ICON "Icon_15.ico"

105 ICON "Icon_16.ico"

116 ICON "Icon_17.ico"

117 ICON "Icon_18.ico"

132 ICON "Icon_19.ico"

135 ICON "Icon_20.ico"

140 ICON "Icon_21.ico"

147 ICON "Icon_22.ico"

